<div class="container outer">
  <div class="row">
    <div class="col-md-2 col-md-offset-1 top" id="welcome">Welcome, {{username}}</div>
    <div class="col-md-2 col-md-offset-7 top" id="exit">Exit chat</div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 inner">
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 form">
      <form id="inputForm">
        <input type="text" placeholder="type here"/>
        <input type="submit" value="enter"/>
      </form>
    </div>
  </div>
</div>
