<!-- <h1>index.handlebars</h1> -->
<!-- <p>{{title}}</p> -->
<div class="container">
  <div class="outer">
    <div class="top" id="welcome">Welcome, {{username}}</div>
    <div class="top" id="exit">Exit chat</div>
    <div class="inner">
    </div>
    <form id="inputForm">
      <input type="text" size="90em" placeholder="type here"/>
      <input type="submit" value="enter"/>
    </form>
  </div>
</div>
