<div class="container outer">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 innerJoinChat">
      <form id="inputForm">
        <input type="text" placeholder="username"/>
        <input type="submit" value="join"/>
      </form>
    </div>
  </div>
</div>
<script src=""></script>
