<div class="container outer">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 innerJoinChat">
      <form id="inputForm">
        <input type="text" placeholder="username" name="username" id="username"/>
        <input type="submit" value="join" id="submit"/>
      </form>
    </div>
  </div>
</div>
<!-- <script src="javascripts/joinChat.js"></script> -->
