body
{
  /*background-color: blue;*/
}
.outer
{
  /*position: absolute;*/
  margin-top: 10vh;
  /*margin-left: 10vw;*/
  /*width: 80vw;
  height: 80vh;*/
  background-color: #b3ffff;
  border: 2px solid #00ffff;
}
.top
{
  /*position: relative;*/
  /*display: inline-block;*/
}
#welcome
{
  margin-top: 2%;
  margin-bottom: 2%;
  /*margin-left: 5%;*/
  /*float: left;*/
}
#exit
{
  color: blue;
  margin-top: 2%;
  margin-bottom: 2%;
  /*margin-right: 5%;*/
  /*float: right;*/
}
#exit:hover
{
  cursor: pointer;
}
.inner
{
  /*position: relative;*/
  /*width: 80vw;*/
  height: 50vh;
  background-color: #ffffff;
  border: 2px solid #00ffff;
  /*left: 10%;
  top: 15%;*/
}
.innerJoinChat
{
  /*position: relative;*/
  /*width: 80vw;*/
  margin-top: 10%;
  margin-bottom: 10%;
  height: 50vh;
  background-color: #ffffff;
  border: 2px solid #00ffff;
  /*left: 10%;
  top: 15%;*/
}
.form
{
  /*height: 5vh;*/
  margin-bottom: 2%;
  margin-top: 2%;
}
#inputForm
{
  /*position: absolute;*/
  /*width: 80%;*/
  /*left: 10%;*/
  /*margin-top: 100%;*/
  /*bottom: 5%;*/
  /*background-color: pink;*/
}
